body {
    background-color: lightpink;
}

.container{

    max-width: 800px;
    margin: 0 auto;
    background-color: lightyellow;
    display: grid;
    grid-template-columns: 1fr;
}

/* nav */

ul{
    display: flex;
    list-style: none;
    padding-left: 0%;
    justify-content: space-evenly;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (min-width:700px){
    .main{
       display: grid;
       grid-template-columns: 1fr 3fr;
    }
    ul{
        display: block;
        padding-left: 2rem;
    }
}